Base RCDATA "Base.fr3"
Boleto RCDATA "Boleto.fr3"
Paisagem RCDATA "Paisagem.fr3"
Pessoa RCDATA "Pessoa.fr3"
Retrato RCDATA "Retrato.fr3"
PecRetrato RCDATA "PecRetrato.fr3"
PecPaisagem RCDATA "PecPaisagem.fr3"
SupRetrato RCDATA "SupRetrato.fr3"
SupPaisagem RCDATA "SupPaisagem.fr3"