ata_registro_preco RCDATA "ata_registro_preco.fr3"
balancete_almoxarifado_casp RCDATA "balancete_almoxarifado_casp.fr3"
apuracao_proposta_pregao_presencial RCDATA "apuracao_proposta_pregao_presencial.fr3"
cotacao RCDATA "cotacao.fr3"
proposta_comercial RCDATA "proposta_comercial.fr3"